# Sesuaikan dengan hasil perintah id -u dan id -g di terminal komputermu
WEB_UID=1000
WEB_GID=1000

DOCKER_BUILD_TARGET=builder  # Ganti ke 'runner' ketika ketika produksi
DOCKER_APP_COMMAND="npm run dev" # Ganti ke 'npm run dev' saat selesai instalasi awal.
HOSTNAME=0.0.0.0

NEXT_PUBLIC_APP_URL=https://swing.test

DATABASE_URL="file:./prisma/dev.db"
AUTH_SECRET="some_super_secret_value_for_nextauth_12345" #generate dengan 'openssl rand -base64 32'